* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}


img {
	max-width: 100%;
}

ul,
li,
ol,
menu {
	list-style: none;
}

button,
input {
	border: none;
	background-color: transparent;
  font-size: 14px;
}

a {
	text-decoration: none;
	color: currentColor;
}

body{
  background-color: lightgrey;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.description{
  font-size: 20px;
}

/***************** HEADER/NAV *****************/

.container-header{
  height: 85px;
  background-color: white;
}

.row{
  display: flex;
  
}

.row-header{
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-item{
  padding: 0px 20px;
}

/*************** BUTTONS *******************/

.blu-button{
  color: white;
  background-color: #0061FF;
  padding: 10px 20px;
}

.blu-button-large{
  color: white;
  background-color: #0061FF;
  padding: 10px 45px;
  font-size: 14px;
}

.clear-button-large{
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  background-color: white;
}

.white-button-large{
  color: black;
  background-color: white;
  padding: 10px 40px;
}

.center-button{
  text-align: center;
  padding-top: 50px;
}



/************* HERO SECTION***************/

.debug{
  border: 2px solid black;
  min-height: 50px;
}

.hero{
  background-color: #B4D0E7;
  max-height: 780px;
}

.container-l{
  max-width: 1250px;
  margin: 0 auto;
}

.row-hero{
  flex-wrap: wrap;
}

.col-100{
  flex-basis: 100%;
  padding: 70px 0px 50px 0px;
}

.col-25{
  flex-basis: 25%;
}

.col-75{
  flex-basis: 75%;
}

.hero-title{
  font-weight: 700;
  font-size: 80px;
}

.hero-description{
  font-size: 18px;
  
  padding-bottom: 30px;
}


.under-button{
  padding-top: 30px;
}


.fa-arrow-down{
  padding-top: 60px;
  font-size: 50px;
  bottom: 20px;
}

/**************** PLANS SECTION **********/
.col-30{
  flex-basis: 30%;
}

.col-70{
  flex-basis: 70%;
}

.plans-section{
  padding-top: 40px;
}

.container-2{
  max-width: 1040px;
  margin: 0 auto;
}

.plans-title{
  font-size: 45px;
}

.row-plans{
  flex-wrap: wrap;
  justify-content: space-between;
}

.list-version{
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 400px;
  border-bottom: 2px solid grey;
}

.plans-30{
  flex-basis: 30%;
  border: 2px solid grey;
  min-height: 900px;
}

.plans-list{
  justify-content: center;
  padding: 20px 30px 40px 30px;
}

.plans-items{
  padding-top: 20px;
}

.month{
  padding-bottom: 40px;
}

.list-title{
  font-size: 25px;
}






#under-price{
  color: grey;
}

h5{
  font-size: 14px;
}

/* li{
  position: relative;
} */

.fa-side{
  /* position: absolute; */
  left: -20px;
}

/* SECONDO CONTAINER PER SPAZIARE ULTIMO
ELEMENTO PACCHETTO LARGO ENTERPRISE*/

.container-2-top-space{
  padding-top: 60px;
}

.plans-100{
  padding-top: 5px;
  border: 2px solid grey;
}

/******* PACCHETTO LARGE ENTERPRISE *******/

.team-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px 40px 30px;
}

.solutions{
  padding-top: 40px;
}


/* SEZIONE IMMAGINE DUE RAGAZZI  */


.partner-section{
  padding-top: 150px;
  padding-bottom: 150px;
}

.col-60{
  flex-basis: 60%;
}

.col-40{
  flex-basis: 40%;
}

.row > .col-60{
  padding: 0px 20px 0px 0px;
}

.row > .col-40{
  padding: 45px 50px 0px 20px;
}

.partner-description{
  font-size: 18px;
}

li > .partner-description{
  padding-top: 20px;
}

.partner-button{
  padding-top: 35px;
}


/**************** BUSINESS FEATURE SECTION **************/

.business-feature-section{
  padding-bottom: 150px;
}

.row-feature{
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-title{
  font-size: 45px;
}

.feature-subtitle{
  font-size: 25px;
}

.feature-description{
  padding-top: 40px;
  font-size: 18px;
}

.col-30-3{
  padding-top: 60px;
}

/* STILE DEL LINK */

.link-classic{
  color: blue;
  text-decoration: underline;
}

.col-100-4{
  padding-top: 200px;
}

.link-clients{
  padding-top: 70px;
}



/**************** COMPANIES SECTION (BIG IMAGES) ********/

.companies-section{
  min-height: 800px;
  border: 2px solid black;
}

.container-3{
  max-width: 2000px;
  min-height: 666,66px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #B4D0E7;
}


.row-left, .row-center, .row-right{
  width: 666px;
  height: 666px;
  display: flex;
  flex-wrap: wrap;
}

.col-company{
  /* background-color: red; */
  width: 333px;
  height: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.col-it-leader{
  background-color: aquamarine;
  width: 666px;
  width: 666px;
  padding: 50px
}

.designit-small{
  width: 280px;
}


/* BACKGROUND COLOR COMPANIES */




.col-designit{
  background-color: #A2D39B;
}

.col-arizona{
  background-color: #61082B;
}

.col-florida{
  background-color: #0093CE;
}

.col-topps{
  background-color: #FF1C1C;
}



.col-it-leader{
  background-color: #F5F5F5;
}


.col-world_bycicle{
  background-color: #D5001F;
}

.col-harst{
  background-color: #B4D0E7;
}

.col-lonely_planet{
  background-color: #0D2481;
}

.col-clear_channel{
  background-color: #FFD830;
}


.leader-item{
  padding-bottom: 100px;
  font-size: 18px;
}

.leader-item:nth-child(2){
  padding-bottom: 50px;
}



.row-under{
  width: 1040px;
  display: flex;
}

.col-under{
  min-width: 50%;
  min-height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action{
  font-size: 40px;
  color: #60052E;
}



/************* SEZIONE DOMANDE FREQUENTI ***************/

.faq-section{
  padding: 170px 0px;
}

.col-faq{
  width: 1040px;
}

.faq-item{
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
  border-bottom: 2px solid grey;
}

.faq-title{
  font-size: 40px;
  font-weight: 700;
}

.faq-subtitle{
  font-size: 18px;
  font-weight: bold;
}



/*********************** FOOTER *********************/

/* FOOTER-SECTION 1 */

.footer1-section{
  background-color: black;
}

.row-infobox{
  justify-content: space-between;
}

.info-item{
  padding-bottom: 15px;
}


.info-title{
  font-size: 24px;
  color: white;
  padding: 110px 0px 40px 0px;
}


li a{
  font-weight: lighter;
  font-size: 18px;
  color: white;
}

/* FOOTER-SECTION 2 */

.footer2-section{
  background-color: black;
  padding-top: 120px;
}

.row-language{
  justify-content: space-between;
}

.language{
  color: #999998;
  padding-top: 55px;
  padding-right: 25px;
  border-top: 1px solid #999998;
}