* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}


img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

button,
input {
	border: none;
	background-color: transparent;
  font-size: 14px;
}

a {
	text-decoration: none;
	color: currentColor;
}

body{
  background-color: lightgrey;
  font-family: 'PT Sans', sans-serif;
}

/***************** HEADER *****************/

.container-header{
  height: 85px;
  background-color: white;
}

.row{
  display: flex;
  
}

.row-header{
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-item{
  padding: 0px 20px;
}

.blu-button{
  color: white;
  background-color: #0061FF;
  padding: 10px 15px;
}


/***************** HERO ******************/

.hero{
  width: 2000px;
  background-color: #B4D0E7;
  min-height: 200px;
}

.container-hero{
  min-height: 20px;
  width: 2000px;
  border: 2px solid black;
}

.row-hero{
  flex-wrap: wrap;
  width: 1250px;
}

.jumbo-dx{
  width: 820px;
  height: 480px;
}

.col-hero100{
  flex-basis: 100%;
}

.col-hero30{
  flex-basis: 30%;
}

.col-hero70{
  flex-basis: 70%;
}